<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userInfoDAO" class="org.iqra.operationsapp.dao.impl.UserInfoDAOImpl">
		<property name="dataSource" ref="dataSource" />
		
	</bean>
	
</beans>